
.paginator {
    padding: 8px;
    display: flex;
    justify-content: center;
}
.pageNumber {
    padding: 4px 10px;
    border: 1px solid grey;
    border-radius: 20%;
    margin-right: 2px;
    background-color: rgb(237, 238, 245);
    font-weight: 500;
    
}

.pageNumber:hover {
    background-color: rgb(93, 126, 216); 
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: #dccef7;
    color: #dccef7;
}

.button {
    display: inline-block;
    padding: 6px 20px;
    background-color: rgb(148, 171, 235);
    font-weight: bold;
    font-size: 10px;
    color: rgb(37, 32, 32);
    text-transform: uppercase;
    transition: background .1s linear, color .1s linear;
    border-radius: 5px;
    margin-left: 5px ;
    margin-right: 7px;
       
}
.button:hover {
    background-color: rgb(93, 126, 216); 
}