.userContainer {
    display: flex;    
    text-align: center;
    background-color: rgb(255, 255, 255);   
}

.userItem {
    width: 100%;
    background-color: rgb(237, 238, 245);
    border: 1px solid rgb(223, 223, 230);
    border-radius: 10px;
    margin: 2px;   
    padding: 16px;   
    
}

.userPhoto {
    width: 100px;
   height: 100px;
}

.selectedPage {
   font-weight: bold;
   
}

.userInfo {
    color: #666;
    font-weight: bold;
    
}

.button {
    display: inline-block;
    padding: 5px 25px;
    background-color: rgb(196, 148, 235);
    font-weight: bold;
    font-size: 10px;
    color: rgb(37, 32, 32);
    text-transform: uppercase;
    transition: background .1s linear, color .1s linear;
    border-radius: 5px;
    margin-top: 5px;
    
      
}

.button:hover {
    background-color: rgb(157, 93, 216); ;
}

