.userPhoto {
     width: 100px;
    height: 100px;
}

.selectedPage {
    font-weight: bold;
}

.userContainer {
    width: 400px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(223, 223, 230);
    margin-left: 15px;
    border-radius: 10px;
    
}

.userInfoContainer {    
    margin-top: 30px;
    margin-right: 15px;
}

.userInfo {
    font-weight: bold;
}

s.followButton {
        display: inline-block;
        padding: 7px 30px;
        background-color: rgb(148, 171, 235);
        font-weight: bold;
        font-size: 10px;
        color: rgb(37, 32, 32);
        text-transform: uppercase;
        transition: background .1s linear, color .1s linear;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    

