
.sendButton {
    display: inline-block;
    padding: 7px 30px;
    background-color: rgb(148, 171, 235);
    font-weight: bold;
    font-size: 10px;
    color: rgb(37, 32, 32);
    text-transform: uppercase;
    transition: background .1s linear, color .1s linear;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sendButton:hover {
    background-color: rgb(93, 126, 216);
}