
.formControl input {
    padding: 6px;
    margin-bottom: 3px;
    border-radius: 10px;
}

.loginButton {
    display: inline-block;
    padding: 7px 30px;
    background-color: rgb(148, 171, 235);
    font-weight: bold;
    font-size: 10px;
    color: rgb(37, 32, 32);
    text-transform: uppercase;
    transition: background .1s linear, color .1s linear;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.loginButton:hover {
    background-color: rgb(93, 126, 216); ;
}

.loginContainer{
   margin: 0 auto;
   text-align: center;
   background-color: rgb(237, 238, 245);
   width: 400px;
   height: 278px;
   border-radius: 10px;
   color: #666;
   border: 1px solid rgb(223, 223, 230);
}

.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error span {
    color: red;
}

.formsSummarError {
    color: red;
    padding: 20px 20px;
    border: solid 1px red;
}