.app-wrapper {
  display: grid;
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  grid-template-areas:
    "h h"
    "n c";
 
  border-radius: 5%;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 12fr;
  grid-gap: 3px;
}

.app-wrapper-content  {
    grid-area: c;
    background-color: rgbargb(237, 238, 245);
    
  }
