.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 15px;
}

.messages {
    padding: 10px;
    

}

.messages .message {
    color: white;
}

.submitForm {
    padding: 15px;
    margin-top: 50px;
}